.grid-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}




img {
  
  border-radius: 40%;
}

.bg{
  font-size: 20px;
}
.bg:hover{
  color: white;
}

#myBtn , #myBtn1{
  color: black;
  border: 2px solid;
  padding: 10px 24px;
  border-radius: 35%;
  font-size: 15px;
  font-weight: bold;
  transition-duration: 0.4s;
  
}
button:hover{

  animation: flip 1s;
}
nav{
  padding: 10px;
  float: right;
}
 
a{
  text-decoration: none;
  color: aliceblue;
}
.des{
  font-size: 15px;
  font-weight: bold;
}
.social:hover{
  color:white;
  animation: pulse 3s;
}
.container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.secondary{
  background-color: #F6853F; /* Green */
  border-radius: 30px;
  border: none;
  color:black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 3px 1px;
  cursor: pointer;
}
@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
  }
  
.head{
  float: left;
}


  h1{
    font-family: 'SEGA LOGO FONT';
    font-weight: 100;
    color: black;
  }

  h1:hover{
    color: white;

  }
