.grid-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}




img {
  
  border-radius: 40%;
}

.bg{
  font-size: 20px;
}
.bg:hover{
  color: white;
}

button{
  color: black;
  border: 2px solid;
  padding: 10px 24px;
  border-radius: 35%;
  font-size: 15px;
  font-weight: bold;
  transition-duration: 0.4s;
  
}
button:hover{

  animation: flip 1s;
}
nav{
  float: left;
}